directives:
  child-src:
    - '''self'''
  connect-src:
    - '''self'''
    - 'blob:'
    {{- if .Values.global.domain.companion }}
    - 'https://{{ .Values.global.domain.companion }}/'
    - 'wss://{{ .Values.global.domain.companion }}/'
    {{- end }}
    - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
    {{- if .Values.global.oidc.issuer }}
    {{- $issuerURL := urlParse .Values.global.oidc.issuer }}
    - '{{ $issuerURL.scheme }}://{{ $issuerURL.host }}/'
    {{- end }}
  default-src:
    - '''none'''
  font-src:
    - '''self'''
  frame-ancestors:
    - '''self'''
  frame-src:
    - '''self'''
    - 'blob:'
    - 'https://embed.diagrams.net/'
    {{- if .Values.global.oidc.issuer }}
    {{- $issuerURL := urlParse .Values.global.oidc.issuer }}
    - '{{ $issuerURL.scheme }}://{{ $issuerURL.host }}/'
    {{- end }}
    {{- if .Values.collabora.enabled }}
    - 'https://{{ .Values.global.domain.collabora }}/'
    {{- end }}
    # This is needed for the external-sites web extension when embedding sites
    - 'https://docs.opencloud.eu'
  img-src:
    - '''self'''
    - 'data:'
    - 'blob:'
    - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
    {{- if .Values.collabora.enabled }}
    - 'https://{{ .Values.global.domain.collabora }}/'
    {{- end }}
  manifest-src:
    - '''self'''
  media-src:
    - '''self'''
  object-src:
    - '''self'''
    - 'blob:'
  script-src:
    - '''self'''
    - '''unsafe-inline'''
  style-src:
    - '''self'''
    - '''unsafe-inline'''
  worker-src:
    - '''self'''
